<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dataConfiguration defaultDatabase="ClientDashboardConnection" />
  <connectionStrings>
    <add name="ClientDashboardConnection" connectionString="Server=AM2APPSDBDEV03;Initial Catalog=ClientDashboard;Persist Security Info=True;User ID=ClientDashboard_usr;Password=ClientDashboard_usr" providerName="System.Data.SqlClient" />
    <add name="ClearyMartConnection" connectionString="Server=AM2APPSDBDEV01;Initial Catalog=ClearyMart;Persist Security Info=True;User ID=ClientDashboard_usr;Password=ClientDashboard_usr" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>